<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      form > input,
      textarea {
        display: block;
      }
    </style>
  </head>
  <body>
    <form id="editForm">
      <input type="hidden" name="id" value="<%= post.id %>" id="id" />
      <input
        type="text"
        name="title"
        placeholder="제목"
        id="title"
        value="<%= post.title %>"
      />
      <textarea name="content" cols="30" rows="10" id="content">
<%= post.content %></textarea
      >
      <button type="submit">제출하기</button>
    </form>

    <script type="module" src="js/posts/edit.js"></script>
  </body>
</html>
